form {
	width: 100%;
	max-width: 400px;
	padding: 15px;
}

form p {
	margin-bottom: 25px;
}

form label {
	margin-bottom: 5px;
	display: block;
}

form input,
form #submitButton {
	width: 100%;
	height: 50px;
	background: white;

	padding: 0 15px;

	border: 1px solid gray;
	border-radius: 10px;
}

form input:hover {
	box-shadow: 0 0 0 2px skyblue;
}

form input:focus,
form #submitButton:focus {
	outline: 0;
	box-shadow: 0 0 0 2px skyblue;
}

form #submitButton {
	margin: 15px auto;
	background: lightskyblue;
	cursor: pointer;
}

form #submitButton:hover {
	background: var(--very-light-skyblue-color);
}

form #submitButton:active {
	background: var(--dark-skyblue-color);
}

form #submitButton:focus {
	outline: 0;
}
