@import url("form.css");
@import url("table.css");

main {
	--dark-skyblue-color: rgb(87, 174, 228);
	--very-light-skyblue-color: rgb(174, 224, 255);
}

* {
	margin: 0 auto;
	padding: 0;
	font-family: "Roboto", sans-serif;
}

table,
tr,
th,
td,
form,
label,
button,
input,
p,
h1 {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

h1 {
	text-align: center;
}

main {
	padding: 40px 0;
}
