table {
	width: calc(100% - 30px);

	max-width: 600px;

	margin: 15px auto;
	border: 2px solid gray;

	border-collapse: collapse;

	overflow: scroll;
}

thead {
	background: var(--dark-skyblue-color);
}

tr:nth-of-type(even) {
	background: var(--very-light-skyblue-color);
}

tr {
	height: 40px;
}

th,
td {
	padding: 15px;
	text-align: left;
}
